@using resqdoc2.Enums;
@model resqdoc2.Models.ResqDoc.Models.Ocorrencia

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ocorrencia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gravidade" class="control-label"></label>
                <select asp-for="Gravidade" class="form-control" asp-items="Html.GetEnumSelectList<GravidadeEnum>()"></select>
                <span asp-validation-for="Gravidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOnly" class="control-label"></label>
                <input asp-for="DateOnly" class="form-control" />
                <span asp-validation-for="DateOnly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cobrade" class="control-label"></label>
                <input asp-for="Cobrade" class="form-control" />
                <span asp-validation-for="Cobrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
